.calendario {
    padding-top: 2rem;
    padding: 2rem;
    margin: 0 auto;
    max-width: 80%; 
    font-size: 1.725rem;
    text-align: center;
    background-color: #d6f2ff;
    border: 1px solid #777777; 
    border-radius: 10px;
}

.calendario__mes,
.torneos__fecha {
    margin: 0 auto;
    max-width: 80%; 
    padding: 0;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.torneos__ul {
    list-style-type: none;
}

/* Tabla xslt */

.tabla__xslt {
    padding-right: 25rem;
    padding-left: 25rem;
}

.xslt__titulo {
    text-align: center;
    color: #333;
}

.xslt__torneo {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.xslt__torneo th, .xslt__torneo td {
    border: 1px solid #ddd;
    padding: 8px;
}

.xslt__torneo th {
    background-color: #007bff;
    color: white;
}

.xslt__torneo tr {
    background-color: #f2f2f2;
}

.xslt__torneo tr:hover {
    background-color: #ddd;
}

.xslt__torneo td {
    padding: 10px;
}